/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Fonts */
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas-webfont.eot');
    src: url('../fonts/bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas-webfont.woff2') format('woff2'),
         url('../fonts/bebas-webfont.woff') format('woff'),
         url('../fonts/bebas-webfont.ttf') format('truetype'),
         url('../fonts/bebas-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Header */

nav > ul > li > a {
    font-family: "bebasregular";
    font-style: normal;
    text-decoration: none;
    /*color: #DAEAEF;*/
    color: #DDD;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
    font-style: normal;
    color: #DDD;
    text-decoration: underline;
    background-color: transparent;
}

.title {
    font-family: "bebasregular";
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.title a,
.title a:hover,
.title a:focus {
    font-style: normal;
    text-decoration: none;
    color: #FF3D2E;
}


/* Body */

body {
    font-family: "open_sansregular";
    color: #fff;
    /*background-color: #272F32;*/
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Thumbnails */

.thumbnail {
    padding: 0px;
    border: 2px solid #DDD;
    border-radius: 0px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

a.thumbnail:focus {
    border: 2px solid #DDD;
}

a.thumbnail:hover,
a.thumbnail:active {
    border: 2px solid #E23F33;
}


/* Links */
a,
a:focus,
a:hover {
  color: #E23F33;
}


/* Sections */

.section,
.section:focus,
.section:hover {
    font-family: "bebasregular";
    font-style: normal;
    text-decoration: none;
    color: #DDD;
}


/* Texts */

.text-muted {
    color: #CCC;
}

.local-link,
.local-link:hover,
.local-link:focus {
    color: #DDD;
}

.well {
    color: #272F32;
    background-color: #FFF;
    border-style: none;
    border-radius: 0px;
}

.well a {
    color: #E23F33;
}