/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Global */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #444;
    background-color: #fafafa;

    padding-left: 10px;
    padding-right: 10px;
}

/* Header */

#header {
    padding-top: 20px;
    margin-bottom: 20px;
}

/* Sections */

.section {
    padding-bottom: 15px;
    padding-top: 15px;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ccc;
}

.section-left {
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: #ccc;
}

.section-right {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #ccc;
}

/* Projects */

.project-thumbnail {
    border-style: solid;
    border-width: 1px;
    border-color: #fafafa;
}

.project-container {
    display: none;
}

.project-desc {
    margin-top: 25px;
}

.project-thumbnail-title {
    color: #fff;
    visibility: hidden;
    margin: auto;
    position: absolute;
    left: 0; bottom: 0; right: 0;
}

.project-thumbnail-img {
    background-color: #000;
}

.project-thumbnail-img img {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.back-to-projects{
    margin-bottom: 10px;
}

/* Texts */

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #888;
}

.local-link {
    color: #fafafa;
    background-color: rgb(230, 125, 125);
    padding-left: 2px;
    padding-right: 2px;
}

.local-link:hover,
.local-link:focus {
    font-style: normal;
    color: #444;
    text-decoration: none;
    
}

.external-link {
    color: inherit;
    text-decoration: underline;
}

.external-link:hover,
.external-link:focus {
    font-style: normal;
    color: rgb(230, 125, 125);
    text-decoration: underline;
}

#projects-in-progress .project-thumbnail-title{
    font-size: 1.5em;
    top: 50px;
}

#projects-recent .project-thumbnail-title{
    font-size: 1.25em;
    top: 40px;
}

#projects-earlier .project-thumbnail-title{
    font-size: 0.9em;
    top: 30px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #projects-earlier .project-thumbnail-title{
        font-size: 0.8em;
        top: 20px;
    }
    
    #projects-recent .project-thumbnail-title{
        font-size: 1.1em;
        top: 25px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #projects-earlier .project-thumbnail-title{
        font-size: 0.9em;
        top: 30px;
    }
    
    #projects-recent .project-thumbnail-title{
        font-size: 1.2em;
        top: 35px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #projects-earlier .project-thumbnail-title{
        font-size: 1em;
        top: 20px;
    }
    
    #projects-recent .project-thumbnail-title{
        font-size: 1.2em;
        top: 35px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #projects-earlier .project-thumbnail-title{
        font-size: 1em;
        top: 30px;
    }
    
    #projects-recent .project-thumbnail-title{
        font-size: 1.25em;
        top: 40px;
    }
}

/* Footer */

#footer {
    padding-bottom: 20px;
}