/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Fonts */
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global */

body {
    font-family: "open_sansregular";
    color: #444;
    background-color: #fafafa;
}

/* Header */

#header {
    padding-top: 20px;
}

.header-icons {
    
}

/* Sections */

.sub-section {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}

.sub-section-right {
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: #ccc;
}

.sub-section-left {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #ccc;
}

.sub-section-title,
.sub-section-title:focus,
.sub-section-title:hover {
    font-style: normal;
    text-decoration: none;
}

/* Projects */

#projects {
    margin-top: 15px;
}

.project-thumbnail {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.project-container {
    display: none;
}

.project-desc {
    margin-top: 25px;
    margin-bottom: 40px;
}

.project-thumbnail-title {
    color: #fff;
    visibility: hidden;
    margin: auto;
    position: absolute;
    left: 0; bottom: 0; right: 0;
}

.project-thumbnail-img {
    background-color: #000;
}

.project-thumbnail-img img {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.back-to-projects{
    margin: auto;
    position: absolute;
    bottom: 0;
}

/* Texts */

.title {
    font-family: "open_sanssemibold";
    color: #888;
}

.local-link {
    color: #fafafa;
    background-color: rgb(230, 125, 125);
    padding-left: 2px;
    padding-right: 2px;
}

.local-link:hover,
.local-link:focus {
    font-style: normal;
    color: #444;
    text-decoration: none;
    
}

.external-link {
    color: inherit;
    text-decoration: underline;
}

.external-link:hover,
.external-link:focus {
    font-style: normal;
    color: rgb(230, 125, 125);
    text-decoration: underline;
}

.project-in-progress .project-thumbnail-title{
    font-size: 1.5em;
    top: 50px;
}

.project-recent .project-thumbnail-title{
    font-size: 1.25em;
    top: 40px;
}

.project-earlier .project-thumbnail-title{
    font-size: 0.9em;
    top: 30px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .project-earlier .project-thumbnail-title{
        font-size: 0.8em;
        top: 20px;
    }
    
    .project-recent .project-thumbnail-title{
        font-size: 1.1em;
        top: 25px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .project-earlier .project-thumbnail-title{
        font-size: 0.9em;
        top: 30px;
    }
    
    .project-recent .project-thumbnail-title{
        font-size: 1.2em;
        top: 35px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .project-earlier .project-thumbnail-title{
        font-size: 1em;
        top: 20px;
    }
    
    .project-recent .project-thumbnail-title{
        font-size: 1.2em;
        top: 35px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .project-earlier .project-thumbnail-title{
        font-size: 1em;
        top: 30px;
    }
    
    .project-recent .project-thumbnail-title{
        font-size: 1.25em;
        top: 40px;
    }
}

/* About */

#about {
    margin-top: 15px;
}

/* Footer */

#footer {
    padding-bottom: 20px;
}

.footer-text {
    
}